.bannerbuttons{
  margin-bottom:2px;
  /*display:inline-block;*/
  display:block;
  float: left;
  clear: left;
  width: 20%;
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  /*padding-left: 50px;
  padding-right: 50px;*/

}

.testNameButtons {
  width: 20%;
  margin-bottom:2px;
  padding-left: 50px;
}


.chartstyles {
  float: left;
  clear: left;
  width: 100%;
}
